   <img class="flecha" src="./assets/images/ico-arrow.svg" alt="ico-arrow">
  
  <span class="links2">
  <a class="books" href="https://adalab.es/">BOOKS</a>
  <br>
  <a class="events" href="https://adalab.es/">EVENTS</a>
  <br>
  <a class="reasons" href="https://adalab.es/">REASONS</a>
  <br>
  <a class="tips" href="https://adalab.es/">TIPS</a>
  </span>
  
  <span class="links3">
  <span class="twitter" href="https://twitter.com/Adalab_Digital?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">TWITTER</span>
  <a class="instagram" href="https://www.instagram.com/adalab_digital/?hl=es">INTAGRAM</a>
  <a class="maston" href="https://adalab.es">MASTODON.SOCIAL</a>
  </span>

  <p class="P2023">
  @2023
  </p>
  <p class="we">
  we ❤︎ components
  </p>
  