<header class="header">
<nav class="menu">
  <button class="boton">
    <img src="./assets/images/ico-menu.svg" alt="ico-menu"/>
  </button>
 
</nav>

  <section class="cover"> 
   <span class="anony">
     <h1 class="tittle">ANONYMOUS PROXY</h1>
    </span>
    <span class="ihpd">
      <h2 class="tittle2">In hac habitasse platea dictumst.</h2>
    </span>

    <button class="boton2">
      <img src="./assets/images/ico-scroll-down.svg"/>
    </button>
  </section>
  </header>
  