<section class="section">
  <h3 class="IT">Insomnia Tips</h3>
    <h2 class="tittlelook">Looking Through A Window</h2>
    <p class="P1">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <button class="botongo">GO</button>
  </section>
  <br>
  
  <section class="section2">
  <h2 class="tittle3R">3 Reasons To Purchase</h2>
  <h3 class="h31">Ud sed metus</h3>
  <p class="P1">Lorem ipsum dolor sit amet, consecteur.</p>

  <h3 class="h32">Curabitur ac erat</h3>
  <p class="P2">Mauris mattis urna quis lorem molestie.</p>

  <h3 class="h33">Morbi dictum</h3>
  <p class="P4">Aliquam in dolor et dolor tincidunt.</p>

  <button class="botonmore">More reasons</button>
</section>