.links{
  width: 100%;
  min-height: 100px;
  padding: 60px 30px 45px;
  font-size: 16px;
  display: inline-block;
  align-content: center;
  text-align: center;
  background-color: #304268;
}

.links2{
  height: 150px;
  margin-bottom: 30px;
  line-height: 30px;
  text-decoration: none;
  color:#ffffff;
  
}

.links3{
  height: 150px;
  margin-bottom: 30px;
  line-height: 30px;
  text-decoration: none;
  color:#ffffff;
  
}

.books{
  color:#ffffff;
  width: 73px;
  height: auto;
  margin:auto;
  font-family: Roboto;
  font-size: 16px;
  text-decoration:none;
}

.events{
  color:#ffffff;
  width: 73px;
  height: auto;
  font-family: Roboto;
  font-size: 16px;
  text-decoration: none;
}
 
.reasons{
  color:#ffffff;
  width: 73px;
  height: auto;
  font-family: Roboto;
  font-size: 16px;
  text-decoration: none;
}

.tips{
  color:#ffffff;
  width: 73px;
  height: 150px;
  font-family: Roboto;
  font-size: 16px;
  text-decoration: none;
}

.twitter{
  color:#ffffff;
  width: 147px;
  height: 90px;
  font-family: Roboto;
  font-size: 16px;
  display:block;
  text-decoration: none;
  
}

.instagram{
  color:#ffffff;
  width: 147px;
  height: 90px;
  font-family: Roboto;
  font-size: 16px;
  display:block;
  text-decoration: none;
}


.maston{
  color:#ffffff;
  width: 147px;
  height: 90px;
  font-family: Roboto;
  font-size: 16px;display:block;
  text-decoration: none;
}

.P2023{
  color:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.we{
  color:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}
.flecha{
  object-fit: contain;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border-color: #ffffff;
  background-color: #ffffff;
  display: flexbox;
  top: -85px;
  position: relative;
}


@media only screen and (min-width: 768px) {
  
  
  
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
 
}


@media only screen and (min-width: 1025px){

}
